@model IEnumerable<GarbageCollectProject.Models.Customer>

@{
    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>Bang Jake's mom for free</h1>
        <p class="lead">Jacob's Mom collector</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Don't worry, she's easy</h2>
            <p>NuGet is a free Visual Studio extension that makes it even easier to bang Jacob's mom</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hosting Jacob's mom</h2>
            <p>You can easily bang Jacob's mom</p>

        </div>
    </div>
