@model IEnumerable<GarbageCollectProject.Models.Customer>

{
    {
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>Garbage Collection Customer Page</h1>
        <p class="lead">Let us grab yo trash</p>
        @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Welcome Valued Customer</h2>
            <p>
               
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>We would love for you to be our customer!</h2>
            
            
        @*</div>
        <div class="col-md-4">
            <h2>Hosting Jacob's mom</h2>
            <p>You can easily bang Jacob's mom</p>*@

        </div>
    </div>
